@font-face {
  font-family: 'IRANSansXV';
  src:
    url('./IRANSansXV.woff') format('woff'),
    url('./IRANSansXV.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: fallback;
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

@font-face {
  font-family: 'IRANSansXVEnNum';
  src:
    url('./IRANSansXV.woff') format('woff'),
    url('./IRANSansXV.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: fallback;
}
